a.keybase-chat {
    background-color: #fff;
    text-decoration: none;
    display: flex;
    color: #33363b;

    border-radius: 6px;
    box-shadow: 0 0 20px 0 #00000030;
    padding: 11px;
    margin: 1em;

    transition: 0.2s ease-in-out;
    &:hover {
        transform: scale(1.05);
        transition: 0.2s ease-in-out;
    }
    img {
        position: relative;
        height: 1.3em;
        margin-right: 0.5em;
    }
}