@import url('https://rsms.me/inter/inter.css');

:root {
    --size-a-social: 2em;
}

* {
    box-sizing: border-box
}

body {
    background-color: #333;
    font-family: "inter var";
    margin: 2em;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 3em;

    letter-spacing: -0.055em;
    //line-height: 0.9em;
    text-indent: -0.03em;
    font-weight: 740;
}

.socials {
    .a-social svg {
        width: var(--size-a-social);
        height: var(--size-a-social);
    }
}
#iconsprite {
    display: none;
}