---
---
const {title} = Astro.props;
---
<html>
  <head>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <title>{title} - Will Pak Poy</title>
  </head>
  <body>
    <slot>
  </body>
</html>