<!DOCTYPE html>
<html lang="en">
  <head>
    <title>willpakpoy.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="will's super cool website you should totally check it out">
  </head>
  <body style="margin: 0px;">
    <img src="/assets/moved2.png" style="max-width: 100%;" alt="welcome to willpakpoy.com">
  </body>
</html>