---
import BaseLayout from "../layouts/Base.astro";
import Photos from "../components/Photos.vue";
---

<BaseLayout title="Will's Perpetual Camera Roll" description="view all the photos i've taken recently">
  <a style="color: #fff; font-style: italic;" href="https://photos.willpakpoy.com">click to take me to the new photos</a>
</BaseLayout>